name: circular_reveal_animation
description:
  Circular Reveal Animation as Flutter widget!
  Inspired by Android's ViewAnimationUtils.createCircularReveal(...).
version: 2.0.0-nullsafety.0
homepage: https://github.com/qwert2603/circular_reveal_animation

environment:
  sdk: '>=2.12.0-133.2.beta <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
